<%- include('./head'); %>
    
    <div style="display: none;">
        <p id="id_user">
            <%= id %>
        </p>
        <p id="id_chat">
            <%= chats[0].id %>
        </p>
    </div>


        
        <div class="flex flex-col h-screen">
            <%- include('./navbar', {auth: true}); %>
            <div class="flex flex-row bg-gray-200 main_container">

                <div class="flex flex-col ml-8 my-8 w-2/5 rounded-2xl shadow-2xl">

                    <div class="py-4 px-4 text-base border-0 bg-gray-400 italic font-bold mb-2 shadow rounded-t-2xl">Чаты</div> 

            
                
                <div class="flex flex-col items-center grow-0 border-0 overflow-auto">
                    

                    <% for(let i=0;i < chats.length; i++) {%>
                        <a href="#" class=" bg-violet-100 mb-1 shadow rounded-2xl hover:bg-fuchsia-200 chatline"
                            id="<%= chats[i].id%>">
                            <div class="flex flex-row items-center my-4">
                                <div class="px-4 text-base" id="test">
                                    <% if(chats[i]) { %>
                                        <%= chats[i].name %>
                                            <% } %>
                                </div>
                            </div>
                        </a>
                        <% } %>
                </div>
            </div>


                    <div class ="flex flex-col overflow-hidden mx-8 my-8 rounded-2xl w-full grow shadow-2xl">

                        <div class="py-4 px-4 text-lg border-0 bg-gray-300 italic font-bold mb-2 shadow">
                            11"Б"
                        </div>

                            <div class="flex flex-col overflow-auto w-full" id="messages_container">
                            <% for(let i = 0; i < messages.length; i++) { %>
                                <% if(!messages[i].service) { %> 
                                    <% if(!messages[i].deleted_user) { %>
                                            <div id="<%= messages[i].id_msg %>" class="flex flex-row items-center">
                                                <% if(messages[i].user_id == id) { %>
                                                    <div class="flex-1"></div>
                                                    <div class="bg-violet-600 px-3 py-1 mb-1 mx-2 rounded-xl shadow-lg">
                                                        <%= messages[i].text %>
                                                    </div>
                                                <% } %> 
                                                <% if(messages[i].user_id != id) { %>
                                                    <div class="bg-violet-400 px-3 py-1 mb-1 mx-2 rounded-xl shadow-lg">
                                                        <%= messages[i].text %>
                                                    </div>
                                                    <div class="flex-1"></div>
                                                <% } %> 
                                            </div>
                                    <% } %>
                                <% } else { %>
                                    <div id="<%= messages[i].id_msg %>" class="flex flex-row items-center">
                                        <div class="flex-1"></div>
                                        <div class="bg-violet-100 px-3 py-1 mb-1 mx-2 rounded-xl shadow-lg">
                                            <%= messages[i].text %>
                                        </div>
                                        <div class="flex-1"></div>
                                    </div>
                                <% } %>   
                            <% } %> 
                        </div>

                        <div class="bg-violet-300 h-12 py-2 px-3 w-auto shrink">
                            <div class="flex flex-row items-center">
                                    <input type="text" class="py-1 px-3 rounded-full w-full bg-violet-100" placeholder="Type your message" id="inputMessage">
                                    <button class="ml-3" id="send_button">Send</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>